<footer class="footer">
  <div class="contenedor">
    <div class="footer__grid">

      <div class="footer__section">
        <div class="footer__enlaces">
          <h3 class="footer__subheading">Productos</h3>
          <a href="productos.html#arquitectonicaId" class="footer__enlace">Arquitectónica</a>
          <a href="productos.html#automotrizId" class="footer__enlace">Automotriz</a>
          <a href="productos.html#aerosolId" class="footer__enlace">Aerosol</a>
          <a href="productos.html#colorantesId" class="footer__enlace">Colorantes y Adhesivos</a>
          <a href="productos.html#complementosId" class="footer__enlace">Complementos</a>
        </div>
      </div>

      <div class="footer__section">
        <div class="footer__enlaces">
          <h3 class="footer__subheading">Acerca de</h3>
          <a href="/#categoriasId" class="footer__enlace">Categorías de productos</a>
          <a href="/#nuestrosProductosId" class="footer__enlace">Nuestros productos</a>
          <a href="/#esloganId" class="footer__enlace">Eslogan</a>
          <a href="/#combinacionesId" class="footer__enlace">Mejores Combinaciones</a>
          <a href="/#coloresId" class="footer__enlace">Colores populares</a>
          <a href="/#complementosId" class="footer__enlace">Otros productos</a>
        </div>
      </div>

      <div class="footer__section iconos__web">
        <div class="logo__pinturas">
          <a href="index.html" class="logo__footer">
            <img src="/images/icono__memosPinturas.png" alt="Memos Pinturas">
            <p>Memo's Pinturas</p>
          </a>
        </div>
        <div class="redes__sociales">
          <h3 class="footer__subheading">Síguenos</h3>
          <div class="redes__iconos">
            <a href="https://www.instagram.com" class="redes__icono" target="_blank">
              <i class="fab fa-instagram fa-lg"></i>
            </a>
            <a href="https://wa.me/2491110478" class="redes__icono" target="_blank">
              <i class="fab fa-whatsapp fa-lg"></i>
            </a>
            <a href="https://www.facebook.com" class="redes__icono" target="_blank">
              <i class="fab fa-facebook-f fa-lg"></i>
            </a>

            <a href="https://www.youtube.com" class="redes__icono" target="_blank">
              <i class="fab fa-youtube fa-lg"></i>
            </a>
            <a href="https://www.tiktok.com" class="redes__icono" target="_blank">
              <i class="fab fa-tiktok fa-lg"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>

<div class="rights">
  <p> &copy; 2025 Memo's Pinturas - Journey 2025</p>
</div>