<nav class="navegacion">
  <div class=" navegacion__contenedor">
    <button class="menu" onclick="activarMenu()">
      <span class="barra"></span>
      <span class="barra"></span>
      <span class="barra"></span>
    </button>
    <div class="logo">
      <a href="/">
        <span>Memo's Pinturas</span>
      </a>
      
    </div>
  </div>
</nav>