<header class="header ">

  <div class="header__contenido contenedor">
    <div class="header__iconos">
      <a href="#" class="header__enlace"><i class="fab fa-instagram"></i>Instagram</a>
      <a href="#" class="header__enlace"><i class="fab fa-facebook-f"></i>Facebook</a>
      <a href="https://wa.me/2491110478" class="header__enlace"><i class="fab fa-whatsapp"></i>WhatsApp </a>
    </div>
    <div class="header__acceder">
    </div>
  </div>
  <nav class="navegacion">
    <div class="contenedor navegacion__contenido">

      <div class="navegacion__logo">
        <a href="/" class="navegacion__index">
          <img src="/images/icono__memosPinturas.png" alt="Imagen logo" class="imagen__logo">
          <p class="texto__logo">Memo´s Pinturas</p>
        </a>
      </div>

      <button class="menu">
        <span class="barra"></span>
        <span class="barra"></span>
        <span class="barra"></span>
      </button>

      <div class="navegacion__enlaces" id="navegacion__enlaces">
        <a href="/products" class="navegacion__enlace"><i class="fas fa-paint-roller"></i> Productos</a>
        <a href="/location" class="navegacion__enlace"><i class="fas fa-map-marker-alt"></i> Ubicación</a>
        <a href="/contact" class="navegacion__enlace"><i class="fas fa-envelope"></i> Contacto</a>
        <a href="/login" class="navegacion__enlace-acceder">
          <i class="fa-solid fa-lock"></i> <span class="acceder__texto">Acceder</span>
        </a>
        <a href="/admin" class="navegacion__enlace-acceder navegacion__enlace-acceder-icon">
          <i class="fas fa-box"></i>
        </a>
    </div>
  </nav>
</header>