<div class="nav-productos">
  <nav class="navbar">
    <a class="submit__formulario" href="/admin/products/add">Agregar pintura</a>
    <a class="submit__formulario" href="/admin/products">Ver todos</a>
    <a class="submit__formulario" href="/admin/products/automobiles">Pinturas Automotrices</a>
    <a class="submit__formulario" href="/admin/products/architectural">Pinturas Arquitectónicas</a>
    <a class="submit__formulario" href="/admin/products/aerosol">Pinturas en Aerosol</a>
    <a class="submit__formulario" href="/admin/products/industrials">Pinturas Industriales</a>
    <a class="submit__formulario" href="/admin/products/adhesives">Adhesivos y Colorantes</a>
    <a class="submit__formulario" href="/admin/products/wood">Pinturas para Madera</a>
    <form action="/admin/products/search" method="get">
      <input type="search" class="submit__formulario" name="value" value="Buscar">
    </form>
  </nav>

</div>