<div class="nav-productos">
    <nav class="navbar">
        <a class="submit__formulario" href="/admin/complements/add">
            <i class="fas fa-plus-circle"></i> Agregar complemento
        </a>
        <a class="submit__formulario" href="/admin/complements">
            <i class="fas fa-list"></i> Ver complementos
        </a>
        <form action="/admin/complements/search" method="get" class="search__contenedor">
            <input type="search" name="value" placeholder="Buscar (Código complemento, id, cantidad, lote, caracteristicas) " class="input__search">
        </form>
    </nav>
</div>